# Ignore everything
*.dll

# But not these files...
!**/maxPlayers.dll
!**/moreCommands.dll


dotnet sln repomods.sln add ./maxPlayers/maxPlayers.csproj
dotnet sln repomods.sln add ./moreCommands/moreCommands.csproj
