# Ignore everything
*.dll
*.xml

**/obj/

# But not these files...
!**/maxPlayers.dll
!**/moreCommands.dll
!**/wideScreenSupport.dll
!**/lateJoining.dll

dotnet sln repomods.sln add ./maxPlayers/maxPlayers.csproj
dotnet sln repomods.sln add ./moreCommands/moreCommands.csproj
dotnet sln repomods.sln add ./wideScreenSupport/wideScreenSupport.csproj
dotnet sln repomods.sln add ./lateJoining/lateJoining.csproj
